---
- name: AMD64 - set up the apt repository
  ansible.builtin.lineinfile:
    dest: /etc/apt/sources.list.d/nginx.list
    line: "deb http://nginx.org/packages/debian {{ ansible_distribution_release }} nginx"
    create: yes
    owner: root
    mode: 0755
  when: (ansible_distribution == 'Debian' and ansible_distribution_major_version <= '12')

- name: AMD64 - import an official nginx signing key
  ansible.builtin.apt_key:
    id: 573BFD6B3D8FBC641079A6ABABF5BD827BD9BF62
    url: https://nginx.org/keys/nginx_signing.key
    keyring: /etc/apt/trusted.gpg.d/nginx-archive-keyring.gpg
    state: present
  when: (ansible_distribution == 'Debian' and ansible_distribution_major_version <= '12')

- name: AMD64 - Setup deb822 formatted repositorie
  ansible.builtin.deb822_repository:
    name: nginx
    types: deb
    uris: http://nginx.org/packages/debian
    components: nginx
    suites: "{{ ansible_distribution_release }} "
    signed_by: https://nginx.org/keys/nginx_signing.key
    state: present
    enabled: true
  when: (ansible_distribution == 'Debian' and ansible_distribution_major_version >= '13')

- name: AMD64 - install nginx
  ansible.builtin.apt:
    pkg: nginx
    update_cache: yes
    state: present
