pip
ansible==7.7.0
ansible-lint
cookiecutter
docker
docker-pycreds
dockerpty
molecule==6.0.2
molecule-plugins==23.5.0
PyMySQL
vcd-cli
passlib
diceware
pexpect
proxmoxer
pre-commit
awscliv2
boto3
jmespath
