[global]
pid = /var/run/php/{{ php_version }}-fpm.pid
error_log = /var/log/php-fpm.log
log_level = error
include=/etc/php/{{ php_version }}/fpm/pool.d/*.conf
emergency_restart_threshold = 10
emergency_restart_interval = 1m
process_control_timeout = 10s
