[www]
user = www-data
group = www-data
listen = {{ansible_default_ipv4.address}}:9000
listen.owner = www-data
listen.group = www-data
listen.allowed_clients = 10.6.1.2,192.168.2.202,{{ansible_default_ipv4.address}}
pm = dynamic
pm.max_children = 45
pm.start_servers = 24
pm.min_spare_servers = 12
pm.max_spare_servers = 24
pm.process_idle_timeout = 5s
pm.max_requests = 500
pm.status_path = /php-status
ping.path = /ping
ping.response = "Im example"
access.format = "%R - %u %t \"%m %r%Q%q\" %s %f %{mili}d %{kilo}M %C%%"
chdir = /srv/www/
catch_workers_output = yes
env[HOSTNAME] = $HOSTNAME
env[PATH] = /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp
env[UPSTREAM] = {{ansible_default_ipv4.address}}
php_admin_value[error_log] = /var/log/fpm-php.www.log
php_admin_flag[log_errors] = on
